<div fxLayoutAlign="center center" fxFlexFill>
    <div fxFlex="80" class="card-content">
        <div *ngFor="let data of listOfDocs | filter:filtertext">
            <mat-card class="card">
                <mat-card-title class="card-title">
                    <img src="../../../assets/doc1.jpg">
                </mat-card-title>
                <mat-card-content class="card-body">
                    <div class="note-desc" >Dr.{{data.doctorName}}</div>
                    <!-- <div class="note-desc" >DrId.{{data.doctorId}}</div> -->
                    <div> {{data.doctorSpecialization}}</div>
                </mat-card-content>
                <button mat-button class="btn" (click)="CreateAppointment(data)" routerLink="/patients/takeappointment">Take Appointment</button>
            </mat-card>
        </div>
        <div>
            
        </div>
    </div>
   
</div>