.toolbar{
    display: flex;
    // justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.h1{
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.search-box{
    display: flex;
    align-items: center;
    outline: none;
    width: 700px;
    height: 40px;
    border-radius: 10px;
}
.menu-content{
    margin-right: 20px;
}
.input{
    outline: none;
    border: none;
    width: 500px;
    height: 40px;
    text-align: center;
    border-radius: 10px;
}